.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 10px 30px;
    background-color: fbf8f8;
}

.header img{
    height: 100%;
    width: 20%
}

.header ul{
    list-style:none;
    margin:0;
    padding:0;
    display: flex;
    gap: 20px;
}

.header a{
    text-decoration: none;
    color: #333;
}

.header a:hover{
    color: 6ca13c;
}
