.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: fbf8f8;
    padding: 10px 30px;
}

.logo-title{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-title img{
    height: 60px;
}

.logo-title h1{
    font-size: 24px;
    color: #2a7d2e;
    margin:0;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.2s ease;
}

.nav-links a:hover{
    color: #2a7d2e;
}

/*responsiveness*/

@media(max-width:900px){
    .header{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .logo-title{
        justify-content:center;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-links{
        justify-content:center;
        width: 100%;
    }
}

@media(max-width:600px){
    .header{
        flex-direction: column;
        padding: 15px;
    }

    .logo-title img{
        height: 50px
    }

    .logo-title h1{
        font-size:20px;
    }

    .nav-links{
        flex-direction: column;
        gap: 10px;
    }
}
